@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --background-color: #131314;
  --sidebar-color: #1E1F20;
  --text-color: #E3E3E3;
  --text-secondary: #9ea0a5;
  /* Slightly lighter gray for secondary text */
  --accent-color: #dbeafe;
  /* Light blue accent */
  --hover-color: #282a2c;
  /* Slightly better hover color */
  --border-color: #444746;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  background-color: var(--background-color);
}


::-webkit-scrollbar {
  width: 8px;
  /* Slightly wider */
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: #444746;
  border-radius: 4px;
  /* Rounded look */
}

::-webkit-scrollbar-thumb:hover {
  background: #5f6368;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}